@model BanHangOnline.Models.EF.OrderTable
@{
    ViewBag.Title = "Thêm sản don dat ban";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/order" class="nav-link">Đơn đặt bàn</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Thêm mới đơn đặt bàn</a>
        </li>
    </ul>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm mới đơn đặt bàn</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Đơn đặt bàn</li>
                    <li class="breadcrumb-item active">Thêm mới đơn đặt bàn</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
@if (Model != null)
{
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Thông tin thêm mới đơn đặt bàn</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link active" href="#timeline" data-toggle="tab">Sản phẩm</a></li>
                                    <li class="nav-item"><a class="nav-link " href="#activity" data-toggle="tab">Thông tin chung</a></li>
                                </ul>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="timeline">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    @Html.Action("CartInOrder", "Order")
                                                </div>
                                                <div class="row">
                                                    <div class="col-5">
                                                        @using (Html.BeginForm("getProductInAdmin", "Products", FormMethod.Get, new { }))
                                                        {
                                                            <div class="input-group mb-3">
                                                                @Html.TextBox("searchText", null, new { @class = "form-control", placeholder = "Nhập từ khóa tìm kiếm" })
                                                                <button type="submit" class="btn btn-info mx-4"><i class="fas fa-search"></i> Tìm kiếm</button>
                                                            </div>
                                                        }
                                                    </div>
                                                    <div class="col-12">
                                                        @Html.Action("getProductInAdmin", "Products")
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane " id="activity">
                                        <div class="form-group">
                                            <label for="customername">Mã bàn</label>
                                            <input type="text" class="form-control" value="@Model.Code" id="code" placeholder="Enter email">
                                        </div>
                                        <div class="form-group">
                                            <label for="customername">Họ tên khách hàng</label>
                                            <input type="text" class="form-control" value="@Model.CustomerName" id="customername" placeholder="Enter email">
                                        </div>
                                        <div class="form-group">
                                            <label for="phone">Số điện thoại</label>
                                            <input type="number" class="form-control" value="@Model.Phone" id="phone" placeholder="Enter email">
                                        </div>
                                        <div class="form-group">
                                            <label for="reservationDate">Ngày đặt bàn</label>
                                            <select id="daySelect" class="form-control">
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="address">Thời gian bắt đầu</label>
                                            <input type="time" class="form-control" value="@Model.TimeStart" id="startTime" placeholder="Enter email">
                                        </div>
                                        <div class="form-group">
                                            <label for="address">Thời gian kết thúc</label>
                                            <input type="time" class="form-control" value="@Model.TimeEnd" id="endTime" placeholder="Enter email">
                                        </div>
                                        <div class="form-group">
                                            <label for="address">Số lượng khách hàng</label>
                                            <input type="number" class="form-control" value="@Model.CountCustomer" id="countCustomer" placeholder="Enter email">
                                        </div>
                                        <div class="form-group">
                                            <label for="note">Ghi chú</label>
                                            <textarea type="text" class="form-control" value="@Model.note" id="note" placeholder="Enter email"></textarea>
                                        </div>
                                    </div>

                                </div>
                                <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                                    <a class="btn btn-danger" href="/admin/order"><i class="fas fa-undo"></i></a>
                                    <button type="submit" id="submit-add-ordertable" class="btn btn-primary"><i class="fas fa-cloud-upload-alt"></i> Thêm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card -->
    </section>
    <input type="hidden" value="@Model.Id" id="IDOrder" />
}
else
{
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Thông tin thêm mới đơn đặt bàn</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link active" href="#timeline" data-toggle="tab">Sản phẩm</a></li>
                                    <li class="nav-item"><a class="nav-link " href="#activity" data-toggle="tab">Thông tin chung</a></li>
                                </ul>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="timeline">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    @Html.Action("CartInOrder", "Order")
                                                </div>
                                                <div class="row">
                                                    <div class="col-5">
                                                        @using (Html.BeginForm("getProductInAdmin", "Products", FormMethod.Get, new { }))
                                                        {
                                                            <div class="input-group mb-3">
                                                                @Html.TextBox("searchText", null, new { @class = "form-control", placeholder = "Nhập từ khóa tìm kiếm" })
                                                                <button type="submit" class="btn btn-info mx-4"><i class="fas fa-search"></i> Tìm kiếm</button>
                                                            </div>
                                                        }
                                                    </div>
                                                    <div class="col-12">
                                                        @Html.Action("getProductInAdmin", "Products")
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane " id="activity">
                                        <div class="form-group">
                                            <label for="customername">Mã bàn</label>
                                            <input type="text" class="form-control" id="code" >
                                        </div>
                                        <div class="form-group">
                                            <label for="customername">Họ tên khách hàng</label>
                                            <input type="text" class="form-control" id="customername" >
                                        </div>
                                        <div class="form-group">
                                            <label for="phone">Số điện thoại</label>
                                            <input type="number" class="form-control" id="phone" >
                                        </div>
                                        <div class="form-group">
                                            <label for="reservationDate">Ngày đặt bàn</label>
                                            <select id="daySelect" class="form-control">
                                                <!-- Các tùy chọn sẽ được thêm vào đây -->
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="address">Thời gian bắt đầu</label>
                                            <input type="time" class="form-control" id="startTime" >
                                        </div>
                                        <div class="form-group">
                                            <label for="address">Thời gian kết thúc</label>
                                            <input type="time" class="form-control" id="endTime" >
                                        </div>
                                        <div class="form-group">
                                            <label for="address">Số lượng khách hàng</label>
                                            <input type="number" class="form-control" id="countCustomer">
                                        </div>
                                        <div class="form-group">
                                            <label for="note">Ghi chú</label>
                                            <textarea type="text" class="form-control" id="note"></textarea>
                                        </div>
                                    </div>
                                    <!-- /.tab-pane -->

                                </div>
                                <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                                    <a class="btn btn-danger" href="/admin/order"><i class="fas fa-undo"></i></a>
                                    <button type="submit" id="submit-add-ordertable" class="btn btn-primary"><i class="fas fa-cloud-upload-alt"></i> Thêm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card -->
    </section>

}
<script>
    $(document).ready(function () {
        // Khai báo TimeStart và TimeEnd ngoài các hàm xử lý sự kiện
        var TimeStart = '';
        var TimeEnd = '';

        // Lắng nghe sự kiện 'change' hoặc 'input' trên input startTime
        $("#startTime").on("change input", function () {
            TimeStart = $(this).val();
            console.log("Start Time changed to:", TimeStart);
        });

        // Lắng nghe sự kiện 'change' hoặc 'input' trên input endTime
        $("#endTime").on("change input", function () {
            TimeEnd = $(this).val();
            console.log("End Time changed to:", TimeEnd);
        });

        $("body").on('click', "#submit-add-ordertable", function (e) {
            debugger
            var code = $("#code").val();
            var customername = $("#customername").val();
            var phone = $("#phone").val();
            var day = $("#daySelect").val();
            var note = $("#note").val();
            var countCustomer = $("#countCustomer").val();
            var id = $("#IDOrder").val();
            $.ajax({
                url: '/Admin/OrderTable/Add',
                type: 'POST',
                data: { code: code, customername: customername, phone: phone, day: day, countCustomer: countCustomer, TimeStart: TimeStart, TimeEnd: TimeEnd, note: note, id: id },
                success: function (rs) {
                    if (rs.success) {
                        location.href = location.origin + "/admin/ordertable/index";
                    }
                }
            })
        })
        renderNext7DaysOptions();


        function renderNext7DaysOptions() {
            var today = new Date();

            var selectElement = document.getElementById("daySelect");

            selectElement.innerHTML = "";

            for (var i = 1; i <= 7; i++) {
                var nextDay = new Date(today);
                nextDay.setDate(today.getDate() + i);

                var dayString = nextDay.toLocaleDateString('vi-VN');

                var option = document.createElement("option");
                option.value = nextDay.toISOString().split('T')[0];
                option.textContent = dayString;
                selectElement.appendChild(option);
            }
        }


    })

    function createHourRangeString(startDateTime, endDateTime) {
        // Trích xuất giờ từ thời gian bắt đầu và thời gian kết thúc
        var startHour = startDateTime.getHours();
        var endHour = endDateTime.getHours();

        // Tạo mảng để lưu trữ các giờ trong khoảng thời gian
        var hours = [];

        // Vòng lặp để thêm các giờ từ giờ bắt đầu đến giờ kết thúc vào mảng
        for (var hour = startHour; hour <= endHour; hour++) {
            hours.push(hour);
        }

        // Chuyển mảng các giờ thành chuỗi string với dấu phẩy phân cách
        var hourRangeString = hours.join(",");

        return hourRangeString;
    }
</script>


@section scripts{
    <script>
        $(document).ready(function () {

            CKEDITOR.replace('txtDetail', {
                customConfig: '/content/ckeditor/config.js',
                extraAllowedContent: 'span',
            })

            $("body").on('click', "#submit-add", function (e) {
                debugger
                var customername = $("#customername").val();
                var phone = $("#phone").val();
                var address = $("#address").val();
                var note = $("#note").val();

                $.ajax({
                    url: '/order/add',
                    type: 'POST',
                    data: { customername: customername, phone: phone, address: address, note: note },
                    success: function (rs) {
                        if (rs.Success) {

                        }
                    }
                })
            })

            $('body').on('click', '.btnXoaAnh', function () {
                var conf = confirm("Bạn có muốn xóa ảnh này không?");
                if (conf === true) {
                    var _id = $(this).data("id");
                    $("#trow_" + _id).fadeTo('fast', 0.3, function () {
                        $(this).remove();
                    })
                    var current = $("#CurrentId").val();
                    var currentId = parseInt(current) - 1;
                    $("#CurrentId").val(currentId);
                }
            })

        })
        function BrowseServer(field) {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                addImageProduct(fileUrl);
            };
            finder.popup();
        }
        function addImageProduct(url) {
            var current = $("#CurrentId").val();
            var currentId = parseInt(current) + 1;
            if (currentId < 5) {
                var str = "";
                if (currentId == 1) {
                    str += `
                                       <tr id="trow_${currentId}" style="height:50px; line-height: 50px;" class="text-center">
                                           <td>${currentId}</td>
                                           <td><img height="50" src="${url}" /><input type="hidden" value="${url}" name="Images" /></td>
                                           <td><input type="radio" name="rDefault" value="${currentId}" checked="checked"/></td>
                                           <td><a href="#" data-id="${currentId}" class="btn btn-sm btn-danger btnXoaAnh" >Xóa</a></td>
                                       </tr>
                                `
                } else {
                    str += `
                                       <tr id="trow_${currentId}" style="height:50px; line-height: 50px;" class="text-center">
                                           <td>${currentId}</td>
                                           <td><img height="50" src="${url}" /><input type="hidden" value="${url}" name="Images" /></td>
                                           <td><input type="radio" name="rDefault" value="${currentId}"  /></td>
                                           <td><a href="#" data-id="${currentId}" class="btn btn-sm btn-danger btnXoaAnh" >Xóa</a></td>
                                       </tr>
                                `
                }

                $("#renderImage").append(str);
                $("#CurrentId").val(currentId);
            }
            else {
                alert("Vui lòng không thêm quá 4 ảnh")
            }
        }



    </script>
}

