@model PagedList.PagedList<BanHangOnline.Models.EF.OrderTable>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/ordertable" class="nav-link">Đơn đặt bàn</a>
        </li>
    </ul>
}
@if (Model != null)
{

    <!-- Main content -->
    <section class="content pt-3">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Danh sách đơn đặt bàn</h3>
                <div class="card-tools">
                    <a href="/admin/ordertable/add" class="btn btn-primary"><i class="fas fa-plus"></i> Thêm mới</a>
                    @*<a href="#" class="btn btn-danger" id="btnDeleteAll">Xóa</a>*@
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        @using (Html.BeginForm("index", "Order", FormMethod.Get, new { }))
                        {
                            <div class="input-group mb-3">
                                @Html.TextBox("searchText", null, new { @class = "form-control", placeholder = "Nhập từ khóa tìm kiếm" })
                                <button type="submit" class="btn btn-info mx-4"><i class="fas fa-search"></i> Tìm kiếm</button>
                            </div>
                        }
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th>STT</th>
                            <th>Code</th>
                            <th>Tên khách hàng</th>
                            <th>Số điện thoại</th>
                            <th>Thời gian</th>
                            <th>Trạng thái</th>
                            <th>Công cụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            var i = ((ViewBag.page - 1) * ViewBag.size) + 1;
                            foreach (var item in Model)
                            {
                                //IdOrder = Convert.ToString(item.Id);
                                <tr id="trow_@item.Id" class="text-center my-auto">
                                    <td class="text-center">@i</td>
                                    <td>@item.Code</td>
                                    <td>@item.CustomerName</td>
                                    <td>@item.Phone</td>
                                    <td class="text-center">@item.TimeStart - @item.TimeEnd</td>
                                    <td class="statusNow">
                                        @if (item.statusOrder == -1)
                                        {
                                            <p>Đang chuẩn bị</p>
                                        }
                                        else if (item.statusOrder == 0)
                                        {
                                            <p>Đang diễn ra</p>
                                        }
                                        else if (item.statusOrder == 1)
                                        {
                                            <p>Thành công</p>
                                        }
                                        else
                                        {
                                            <p>
                                                Thất bại
                                            </p>
                                        }
                                    </td>
                                    <td>
                                        <button type="button" data-id="@item.Id" class="btn btn-sm btn-success btnUpdatestatusOrder" data-toggle="modal" data-target="#modal-default">
                                            <i class="fas fa-share"></i> Cập nhật
                                        </button>
                                        <button data-id="@item.Id" type="button" class="btn btn-sm btn-primary btnDetailorder" data-toggle="modal" data-target="#modal-xl">
                                            <i class="fas fa-eye"></i>
                                            Xem
                                        </button>
                                        <input type="hidden" data-id="@item.Id" id="IdOrder" />
                                        <a href="/admin/ordertable/add/@item.Id" class="btn btn-sm btn-primary"><i class="fas fa-edit"></i></a>
                                        <button type="button" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>

                                i++;
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">Không có bản ghi nào</td>
                            </tr>
                        }
                    </tbody>

                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>


        <div class="modal fade" id="modal-xl">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body body-detail">
                        @Html.Action("Detail2", "OrderTable")
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Cập nhật trạng thái</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-3">
                        <select id="statusSelect" style="font-family: Texturina; font-size: 20px; font-weight: 300;" class="form-control">
                            <option selected>Chọn trạng thái</option>
                            <option value="-1">Đang chuẩn bị</option>
                            <option value="0">Đang diễn ra</option>
                            <option value="1">Thành công</option>
                            <option value="2">Kết thúc</option>
                        </select>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary" id="btnUpdateStatus" data-dismiss="modal">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@*<script src="~/Scripts/AddToCart.js"></script>*@
<script>
    $(document).ready(function () {

        $('body').on('click', '.btnDelete', function () {
            var id = $(this).data("id");
            var conf = confirm("Bạn chắc chắn xóa");
            if (conf === true) {
                $.ajax({
                    url: '/admin/ordertable/delete',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            $('#trow_' + id).remove();
                            location.reload();
                        }
                    }
                })
            }
        });

        $('body').on('click', '.btnDetailorder', function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            $("#IdOrder").val(id);
        });

        $('#modal-xl').on('show.bs.modal', function () {
            var idOrder = $("#IdOrder").val();
            var url = '/admin/ordertable/detail2/' + idOrder;
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    $(".body-detail").html(data);
                },
                error: function () {
                    alert('Có lỗi xảy ra khi tải dữ liệu đơn hàng.');
                }
            });
        });

        var selectedRowId; // Biến để lưu id của dòng được chọn
        var originalStatus; // Biến để lưu trạng thái ban đầu của dòng

        $(".btnUpdatestatusOrder").click(function () {
            selectedRowId = $(this).data("id");
            $("#IdOrder").val(selectedRowId);

            // Lưu trạng thái ban đầu của dòng
            originalStatus = $(".statusNow", "#trow_" + selectedRowId).text().trim();
        });

        $("#btnUpdateStatus").click(function () {
            var selectedValue = $("#statusSelect").val();
            var idOrder = $("#IdOrder").val();

            $.ajax({
                url: '/admin/ordertable/update',
                type: 'POST',
                data: { id: idOrder, statusOrder: selectedValue },
                success: function (result) {
                    var updatedRow = $("#trow_" + selectedRowId);
                    $("#modal-default").hide();
                    $(".statusNow", updatedRow).text(getStatusText(selectedValue));

                },
                error: function (error) {
                    console.error("Ajax request failed: ", error);
                }
            });
        });

        function getStatusText(statusValue) {
            // Hàm này trả về văn bản tương ứng với giá trị trạng thái
            if (statusValue == -1) {
                return "Đang chuẩn bị";
            } else if (statusValue == 0) {
                return "Hôm nay";
            } else if (statusValue == 0) {
                return "Thành công";
            } else {
                return "Thất bại";
            }
        }
    })
</script>