@model IEnumerable<BanHangOnline.Models.ShoppingCartItem>
@using BanHangOnline.Common
@{
    ViewBag.Title = "Giỏ hàng";
    var stt = 0;
    var tongtien = decimal.Zero;
    var sl = 0;
    var Total = decimal.Zero;
    var Tax = decimal.Zero;
    var shipping = decimal.Zero;
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/Content/Assets/plugins/fontawesome-free/css/all.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/Content/clients/dist/css/adminlte.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/Assets/styles/bootstrap4/bootstrap.min.css">
<link href="~/Content/Assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="~/Content/Assets/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="~/Content/Assets/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="~/Content/Assets/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" href="~/Content/Assets/plugins/themify-icons/themify-icons.css">
<link rel="stylesheet" type="text/css" href="~/Content/Assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="~/Content/Assets/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/Assets/styles/single_responsive.css">
<style>
    .giohang {
        margin-top: 130px;
        min-height: 100vh;
    }

    .selector_in_cart {
        margin: 0 !important;
    }

    h1, h2, h3, h4, h5 {
        font-family: Texturina !important;
    }
    p {
        font-family: Texturina !important;
    }
    li a {
        font-family: Texturina !important;
    }
    tr th {
        font-family: Texturina !important;
    }
    tr td {
        font-size: 17px !important;
        font-family: Texturina !important;
    }

    tr th {
        font-size: 17px !important;
        font-family: Texturina !important;
    }

    b, strong {
        font-family: Texturina !important;
    }

    .btn-datgiao {
        font-size: 18px;
        font-family: Texturina;
        border: none;
        background-color: #b76f2c;
    }
    .itemStart{
        display: flex;
        justify-content: start;
    }
</style>
<div class="giohang">
    <div class="invoice container p-3 mb-3">
        <div class="row">
            <div class="col-12">
                <h4>
                    <small class="text-center" style="font-size: 24px;">Thông tin giỏ hàng</small>
                </h4>
            </div>
            <!-- /.col -->
        </div>


        <div class="row">
            <div class="col-12 table-responsive mt-2 mb-2 allproducts">
                @if (Model != null && Model.Any())
                {
                    <table class="table table-striped">
                        <thead>
                            <tr class="text-center">
                                <th>STT</th>
                                <th>Tên sản phẩm</th>
                                <th>Ảnh</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Thành tiền</th>
                                <th style="width: 150px;">
                                    <a href="#" id="btnDeleteAll" style="color: red"><i class="fas fa-trash-alt"></i> Xóa toàn bộ</a>
                                </th>
                                <th style="width: 100px;" class="text-center">
                                    @*Tất cả*@
                                    <input type="checkbox" id="SelectAll" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                tongtien += item.TotalPrice;
                                sl += item.Quantity;
                                var thanhtien = @item.Price * @item.Quantity;
                                <tr id="trow_@item.ProductId" style="line-height: 50px;" class="my-auto text-center">
                                    <td>@stt</td>
                                    <td><a href="/chi-tiet-san-pham/@item.ProductCategoryID-@item.ProductId">@item.ProductName</a></td>
                                    <td><img src="@item.ProductImage" style="height:50px;" /></td>
                                    <td>@Common.FormatNumber(item.Price, 2)</td>
                                    <td width="100px" class="my-auto">
                                        <input type="number" data-id="@item.ProductId" class="form-control input-update" value="@item.Quantity" id="Quantity_@item.ProductId" />
                                    </td>
                                    <td>@Common.FormatNumber(item.TotalPrice, 2)</td>
                                    <td class="itemStart">
                                        <a href="#" data-id="@item.ProductId" class="btn btn-sm btn-danger btnDelete"><i class="fas fa-trash-alt"></i></a>
                                        <a style="margin-left: 10px;" href="#" data-id="@item.ProductId" id="update_@item.ProductId" class="btn btn-sm btn-success btnUpdate update_@item.ProductId"><i class="fas fa-share-square"></i> Lưu</a>
                                    </td>
                                    <td class="text-center" style="width: 50px;"><input type="checkbox" class="cbkItem" value="@item.ProductId" /></td>
                                </tr>
                                stt++;
                            }

                        </tbody>
                    </table>
                }
                else
                {
                    <p class="text-muted well well-sm shadow-none" style="margin-top: 10px; font-size: 18px;">
                        Giỏ hàng đang trống <br />
                    </p>
                }
                <div class="row">
                    <div class="col-6">
                        <p class="lead">Phương thức thanh toán: </p>
                        <img src="~/Content/clients/dist/img/credit/visa.png" alt="Visa">
                        <img src="~/Content/clients/dist/img/credit/mastercard.png" alt="Mastercard">
                        <img src="~/Content/clients/dist/img/credit/american-express.png" alt="American Express">
                        <img src="~/Content/clients/dist/img/credit/paypal2.png" alt="Paypal">

                        <p class="text-muted well well-sm shadow-none" style="margin-top: 10px; font-size: 18px;">
                            Thanh toán khi nhận hàng: <br />
                            - Quý khách thanh toán chi phí khi nhận đồ ăn được giao tới<br />
                            Thanh toán trực tuyến: <br />
                            - Quý khách thanh toán qua ứng dụng trực tuyến VNPAY<br />
                            - Thanh toán bằng VNPAYQR<br />
                            - Thanh toán qua ứng dụng hỗ trợ VNPAYQR<br />
                            - Thanh toán quá ATM-Tài khoản ngân hàng nội địa<br />
                        </p>
                    </div>
                    <!-- /.col -->
                    <div class="col-6">
                        <p class="lead">Giá tiền</p>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th style="width:50%">Số lượng:</th>
                                        <td>@sl</td>
                                    </tr>

                                    <tr>
                                        <th>Tổng tiền:</th>
                                        @if (tongtien > 0)
                                        {
                                            Total = tongtien + Tax + shipping;
                                        }
                                        <td>@Common.FormatNumber(Total, 0)đ</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <!-- jQuery -->
    <script src="~/Content/Assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/Assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/Assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/Assets/styles/bootstrap4/popper.js"></script>
    <script src="~/Content/Assets/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/Content/Assets/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/Content/Assets/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Content/Assets/plugins/easing/easing.js"></script>
    <script src="~/Content/Assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="~/Content/Assets/js/single_custom.js"></script>
}

